<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xinghe.xinghehis.mapper.DepartmentMapper">
    <select id="findAll" resultType="org.xinghe.xinghehis.entity.Department">
        SELECT * FROM department WHERE status = 1 ORDER BY id
    </select>
</mapper>
