<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xinghe.xinghehis.mapper.MedicineMapper">
    <select id="findByKeyword" resultType="org.xinghe.xinghehis.entity.Medicine">
        SELECT * FROM medicine
        <where>
            AND status = 1
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY id
    </select>
    <select id="findById" resultType="org.xinghe.xinghehis.entity.Medicine">
        SELECT * FROM medicine WHERE id = #{id}
    </select>
</mapper>
