<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xinghe.xinghehis.mapper.PrescriptionItemMapper">
    <insert id="insert">
        INSERT INTO prescription_item (prescription_id, medicine_id, dosage, quantity, price)
        VALUES (#{prescriptionId}, #{medicineId}, #{dosage}, #{quantity}, #{price})
    </insert>
</mapper>
